<% include header %>
<form class="pure-form" id="highlight-options">
    <fieldset>
        <legend>Highlight Options</legend>
        <label>Yield:</label>
        <input type="text" id="yield-min" placeholder="Min">
        <span> - </span>
        <input type="text" id="yield-max" placeholder="Max">
    </fieldset>
    <fieldset>
        <label>Dividend:</label>
        <input type="text" id="dividend-min" placeholder="Min">
        <span> - </span>
        <input type="text" id="dividend-max" placeholder="Max">
    </fieldset>
    <fieldset>
        <label>Payout Ratio:</label>
        <input type="text" id="payout-min" placeholder="Min">
        <span> - </span>
        <input type="text" id="payout-max" placeholder="Max">
    </fieldset>
    <button id="highlight-button" class="pure-button pure-button-primary">Highlight</button>
</form>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th colspan="2">Info</th>
            <th>CAD</th>
            <th colspan="4">Dividend Growth Rates</th>
            <th>Payout Ratio %</th>
        </tr>
        <tr>
            <th class="header">Ticker</th>
            <th class="header">Company</th>
            <th class="header">Yield</th>
            <th class="header">1-yr</th>
            <th class="header">3-yr</th>
            <th class="header">5-yr</th>
            <th class="header">10-yr</th>
            <th class="header">TTM EPS</th>
        </tr>
    </thead>
    <tbody>
        <% stocks.forEach(stock => { %>
            <tr class="stock">
                <td class="ticker"><%= stock['Ticker'] %></td>
                <td class="company"><%= stock['Company'] %></td>
                <td class="yield"><%= stock['Yield'] %></td>
                <td class="div1yr"><%= stock['1-yr'] %></td>
                <td class="div3yr"><%= stock['3-yr'] %></td>
                <td class="div5yr"><%= stock['5-yr'] %></td>
                <td class="div10yr"><%= stock['10-yr'] %></td>
                <td class="ttm"><%= stock['TTM EPS'] %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/ramda@0.25.0/dist/ramda.min.js"></script>
<script src="main.js"></script>
<% include footer %>
